* {
    box-sizing: border-box;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Section */

body {
    background-color: #f0f4f5;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding: 20px 50px 20px 60px;
}

img[alt="logo-img"] {
    height: 40px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    width: 25%;
}

li a {
    text-decoration: none;
    font-weight: 500;
}

.active-tab a {
    font-weight: 700;
}

