body {
    background-image: url(../assets/stethoscope.png);
    background-size: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 25% center;
}

/* Main Section */

.ad-section {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    margin-left: 55px;
    width: 50vw;
}

.ad-section h1 {
    font-size: 70px;
    line-height: 90px;
    margin-top: 40px;
}

.ad-section p {
    color: #706d6d;
    margin: 20px 0;
}

.ad-section button {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
    background-color: #20bc7e;
    color: #fff;
}

/* Images */

img[alt="top-img"] {
    position: absolute;
    top: 110px;
    left: 50px;
}

img[alt="bottom-img"] {
    position: absolute;
    left: 53%;
    bottom: 68px;
}

img[alt="mouse-img"] {
    position: absolute;
    left: 55%;
    bottom: 20px;
}

.ad-photo {
    display: inline-block;
}

img[alt="green-box"] {
    position: absolute;
    width: 400px;
    top: 25%;
    left: 65%;
}

img[alt="yellow-box"] {
    position: absolute;
    width: 350px;
    top: 35%;
    left: 72%;
}

img[alt="doctor-img"] {
    position: absolute;
    height: 90%;
    top: 10%;
    left: 66%;
}